/Collatzfolge.class
/Collatzfolge2.class
/Guthabenentwicklung.class
/LoesungenQuadratischeGleichung.class
/Schaltjahr_eclipse.class
/Selektion1.class
/Vokaltest.class
/Was_Soll_Das.class
/Zahlendreieck.class
/Zahlendreieck2.class
/Zahlenraten.class
/Zahlentest.class
/ggtEuklid.class
